<%
# Created L/21/05/2012
# Updated S/02/05/2020
#
# Copyright 2008-2020 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
# https://www.luigifab.fr/redmine/apijs
#
# This program is free software, you can redistribute it or modify
# it under the terms of the GNU General Public License (GPL) as published
# by the free software foundation, either version 2 of the license, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but without any warranty, without even the implied warranty of
# merchantability or fitness for a particular purpose. See the
# GNU General Public License (GPL) for more details.

if Setting.plugin_redmine_apijs['sort_attachments'] == '1'
  attachments = attachments.to_a.sort! { |a,b| a.filename.downcase <=> b.filename.downcase }
end

setting_enabled          = Setting.plugin_redmine_apijs['enabled'] == '1'
setting_show_album       = Setting.plugin_redmine_apijs['show_album'] == '1'
setting_show_album_infos = Setting.plugin_redmine_apijs['show_album_infos'] == '1'
setting_show_filename    = Setting.plugin_redmine_apijs['show_filename'] == '1'
setting_show_exifdate    = Setting.plugin_redmine_apijs['show_exifdate'] == '1'
permission_delete        = User.current.allowed_to?(:delete_attachments, @project)
permission_edit          = User.current.allowed_to?(:edit_attachments, @project)

@slideshowi = 0 unless defined? @slideshowi
showAlbum = showList = false

if setting_show_album
  attachments.each { |attachment|
    if (attachment.isPhoto? || attachment.isVideo?) && !attachment.isExcluded?
      showAlbum = true
    else
      showList = true
    end
  }
else
  showList = true
end
%>

<% if setting_enabled %>
	<% if showAlbum %>
		<p class="apijs section"><strong><%= l(:apijs_title_album) %></strong></p>
		<div class="attachments album" id="slideshow.<%= @slideshowi %>">
			<% slideshowj = 0 %>
			<% attachments.each { |attachment| %>
				<% if (attachment.isPhoto? || attachment.isVideo?) && !attachment.isExcluded? %>
					<% description = (attachment.description.blank?) ? ' ' : attachment.description.gsub(/["\\\x0]/, ' ') %>
					<dl id="attachmentId<%= attachment.id %>">
						<dt>
							<a href="<%= (attachment.isVideo?) ? attachment.getDownloadUrl + '?stream=1' : attachment.getShowUrl %>" type="<%= attachment.getMimeType %>" onclick="return false" id="slideshow.<%= @slideshowi %>.<%= slideshowj %>">
								<img src="<%= attachment.getThumbUrl %>" width="200" height="150" alt="<%= h(description) %>"/>
								<input type="hidden" value="<%= (setting_show_filename) ? attachment.filename : 'false' %>|<%= (setting_show_exifdate) ? format_time(attachment.created_on) : 'false' %>|<%= h(description) %>"/>
							</a>
						</dt>
						<dd class="<%= (setting_show_album_infos) ? 'big' : 'one' %>">
							<div class="action">
								<% if attachment.readable? %>
									<button type="button" class="attachment download" title="<%= l(:apijs_title_download, v: number_to_human_size(attachment.filesize)) %>" onclick="<%= raw attachment.getDownloadButton %>"></button>
								<% end %>
								<% if permission_edit %>
									<button type="button" class="attachment edit" title="<%= l(:button_edit) %>" onclick="<%= raw attachment.getEditButton(form_authenticity_token) %>"></button>
								<% end %>
								<% if permission_delete %>
									<button type="button" class="attachment delete" title="<%= l(:button_delete) %>" onclick="<%= raw attachment.getDeleteButton(form_authenticity_token) %>"></button>
								<% end %>
							</div>
							<% if setting_show_album_infos %>
								<span class="filename"><%= h(attachment.filename) %></span>
								<span class="author date"><%= h(attachment.author) %> (<%= format_time(attachment.created_on) %>)</span>
								<span class="description"><%= h(description) %></span>
							<% else %>
								<span class="description"><%= h(description) %></span>
							<% end %>
						</dd>
					</dl>
					<% slideshowj += 1 %>
				<% end %>
			<% } %>
			<% @slideshowi += 1 if slideshowj > 0 %>
		</div>
	<% end %>
	<% if showList %>
		<p class="apijs section"><strong><%= l(:apijs_title_files) %></strong></p>
		<ul class="attachments" id="slideshow.<%= @slideshowi %>">
			<% slideshowj = 0 %>
			<% attachments.each { |attachment| %>
				<% if !setting_show_album || (!attachment.isPhoto? && !attachment.isVideo?) || attachment.isExcluded? %>
					<% description = (attachment.description.blank?) ? ' ' : attachment.description.gsub(/["\\\x0]/, ' ') %>
					<li id="attachmentId<%= attachment.id %>">
						<% if permission_delete %>
							<button type="button" class="attachment delete" title="<%= l(:button_delete) %>" onclick="<%= raw attachment.getDeleteButton(form_authenticity_token) %>"></button>
						<% end %>
						<% if permission_edit %>
							<button type="button" class="attachment edit" title="<%= l(:button_edit) %>" onclick="<%= raw attachment.getEditButton(form_authenticity_token) %>"></button>
						<% end %>
						<% if attachment.readable? %>
							<button type="button" class="attachment download" title="<%= l(:button_download) %>" onclick="<%= raw attachment.getDownloadButton %>"></button>
						<% end %>
						<% if attachment.is_text? || attachment.isImage? || attachment.isVideo? %>
							<% if attachment.isImage? || attachment.isVideo? %>
								<a href="<%= attachment.getDownloadUrl.gsub('download', 'show') %>" type="<%= attachment.getMimeType %>" onclick="return false" id="slideshow.<%= @slideshowi %>.<%= slideshowj %>">
									<input type="hidden" value="<%= (setting_show_filename) ? attachment.filename : 'false' %>|<%= (setting_show_exifdate) ? format_time(attachment.created_on) : 'false' %>|<%= h(description) %>" />
								</a>
								<% slideshowj += 1 %>
							<% else %>
								<button type="button" class="attachment show" title="<%= l(:button_show) %>" onclick="<%= raw attachment.getShowButton(setting_show_filename, setting_show_exifdate, description) %>"></button>
							<% end %>
						<% end %>
						<strong><%= attachment.filename %></strong>
						<span class="description"><%= h(description) %></span>
						<span class="size">(<%= number_to_human_size(attachment.filesize) %>)</span>
						<span class="author"><%= h(attachment.author) %></span>
						<span class="date">(<%= format_time(attachment.created_on) %>)</span>
					</li>
				<% end %>
			<% } %>
			<% @slideshowi += 1 if slideshowj > 0 %>
		</ul>
	<% end %>
<% else %>
	<ul class="attachments">
		<% attachments.each { |attachment| %>
			<li id="attachmentId<%= attachment.id %>">
				<% if options[:deletable] %>
					<%= link_to(image_tag('delete.png'), attachment_path(attachment), confirm: l(:text_are_you_sure), method: :delete, title: l(:button_delete)) %>
				<% end %>
				<% if attachment.is_text? %>
					<%= link_to(image_tag('magnifier.png'), controller: 'attachments', action: 'show', id: attachment, filename: attachment.filename) %>
				<% end %>
				<%= link_to_attachment(attachment, class: 'icon icon-attachment', download: true) %>
				<% unless attachment.description.blank? %>
					<span class="description"><%= h(attachment.description) %></span>
				<% end %>
				<span class="size">(<%= number_to_human_size(attachment.filesize) %>)</span>
				<span class="author"><%= h(attachment.author) %></span>
				<span class="date">(<%= format_time(attachment.created_on) %>)</span>
			</li>
		<% } %>
	</ul>
<% end %>