<% #<?
# Created J/12/12/2013
# Updated V/30/12/2016
#
# Copyright 2008-2017 | Fabrice Creuzot (luigifab) <code~luigifab~info>
# https://redmine.luigifab.info/projects/redmine/wiki/apijs
#
# This program is free software, you can redistribute it or modify
# it under the terms of the GNU General Public License (GPL) as published
# by the free software foundation, either version 2 of the license, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but without any warranty, without even the implied warranty of
# merchantability or fitness for a particular purpose. See the
# GNU General Public License (GPL) for more details.

html_title "Redmine Apijs plugin - " + l(:label_administration)
size_all   = 0
size_thumb = 0
size_show  = 0

if File.directory?(APIJS_ROOT + '/')
  size_all = `du -hs #{APIJS_ROOT}/ | cut -f1`.strip!
  size = size_all.to_f

  size_all = number_to_human_size(size * 1024 * 1024 * 1024) if size_all =~ /G/
  size_all = number_to_human_size(size * 1024 * 1024) if size_all =~ /M/
  size_all = number_to_human_size(size * 1024) if size_all =~ /K/
end

if File.directory?(APIJS_ROOT + '/thumb/')
  size_thumb = `du -hs #{APIJS_ROOT}/thumb/ | cut -f1`.strip!
  size = size_thumb.to_f

  size_thumb = number_to_human_size(size * 1024 * 1024 * 1024) if size_thumb =~ /G/i
  size_thumb = number_to_human_size(size * 1024 * 1024) if size_thumb =~ /M/i
  size_thumb = number_to_human_size(size * 1024) if size_thumb =~ /K/i
end

if File.directory?(APIJS_ROOT + '/show/')
  size_show = `du -hs #{APIJS_ROOT}/show/ | cut -f1`.strip!
  size = size_show.to_f

  size_show = number_to_human_size(size * 1024 * 1024 * 1024) if size_show =~ /G/i
  size_show = number_to_human_size(size * 1024 * 1024) if size_show =~ /M/i
  size_show = number_to_human_size(size * 1024) if size_show =~ /K/i
end

check = 'checked="checked"'
link1 = 'href="https://www.luigifab.info/apijs/index.php" onclick="window.open(this.href); return false;"';
link2 = 'href="https://redmine.luigifab.info/projects/redmine/wiki/apijs" onclick="window.open(this.href); return false;"';
link3 = 'href="https://redmine.luigifab.info/projects/apijs/wiki" onclick="window.open(this.href); return false;"';
%>

<fieldset class="apijs tabular settings info">
	<ul>
		<li><%= raw l(:apijs_documentation, link1: link1, link2: link2, link3: link3) %></li>
		<li><%= raw l(:apijs_version) %> <strong><%= Redmine::Plugin.find(:redmine_apijs).version %></strong></li>
		<li><%= raw l(:apijs_status) %> <strong><%= raw l(settings['enabled'] == '1' ? :apijs_status_enabled : :apijs_status_disabled) %></strong></li>
		<% if settings['enabled'] == '1' %>
			<li>
				<%= raw l(:apijs_samples) %>
				<button onclick="apijs.dialog.dialogInformation('<%= raw l(:apijs_sample1_title) %>','<%= raw l(:apijs_sample1_text1).gsub(/['"\\\x0]/,'\\\\\0') %>');" type="button">1</button>
				<button onclick="apijs.dialog.dialogInformation('<%= raw l(:apijs_sample2_title) %>','[p]<%= raw l(:apijs_sample2_text1).gsub(/['"\\\x0]/,'\\\\\0') %>[/p][p]<%= raw l(:apijs_sample2_text2, value: '[a href=\'https://www.luigifab.info/\' class=\'popup\']www.luigifab.info[/a]').gsub(/['"\\\x0]/,'\\\\\0') %>[/p]');" type="button">2</button>
			</li>
		<% end %>
	</ul>
</fieldset>

<fieldset class="box apijs tabular settings">
	<legend><%= raw l(:apijs_config_apijs) %></legend>
	<p>
		<label for="apijsEnabled"><%= raw l(:apijs_config_enable) %></label>
		<select name="settings[enabled]" id="apijsEnabled">
			<option value="0" <%= raw 'selected="selected"' if settings['enabled'] != '1' %>><%= raw l(:general_text_No) %></option>
			<option value="1" <%= raw 'selected="selected"' if settings['enabled'] == '1' %>><%= raw l(:general_text_Yes) %></option>
		</select>
	</p>
	<p>
		<label for="apijsSort"><%= raw l(:apijs_config_sort_order) %></label>
		<select name="settings[sort_attachments]" id="apijsSort">
			<option value="0" <%= raw 'selected="selected"' if settings['sort_attachments'] != '1' %>><%= raw l(:general_text_No) %></option>
			<option value="1" <%= raw 'selected="selected"' if settings['sort_attachments'] == '1' %>><%= raw l(:general_text_Yes) %></option>
		</select>
	</p>
	<p>
		<label><%= raw l(:label_role_and_permissions) %></label>
		<a href="<%= url_for({:controller => 'roles', :action => 'permissions'}) %>" onclick="window.open(this.href); return false;"><%= raw l(:label_role_and_permissions) %></a>
		<em class="info"><%= raw l(:permission_edit_attachments) %>, <%= raw l(:permission_delete_attachments) %></em>
	</p>
</fieldset>

<fieldset class="box apijs tabular settings">
	<legend><%= raw l(:apijs_config_album) %></legend>
	<p>
		<label for="apijsShowAlbum"><%= raw l(:apijs_config_show_album) %></label>
		<select name="settings[show_album]" id="apijsShowAlbum">
			<option value="0" <%= raw 'selected="selected"' if settings['show_album'] != '1' %>><%= raw l(:general_text_No) %></option>
			<option value="1" <%= raw 'selected="selected"' if settings['show_album'] == '1' %>><%= raw l(:general_text_Yes) %></option>
		</select>
	</p>
	<p>
		<label for="apijsShowAlbumInformations"><%= raw l(:apijs_config_show_album_infos) %></label>
		<select name="settings[show_album_infos]" id="apijsShowAlbumInformations">
			<option value="0" <%= raw 'selected="selected"' if settings['show_album_infos'] != '1' %>><%= raw l(:general_text_No) %></option>
			<option value="1" <%= raw 'selected="selected"' if settings['show_album_infos'] == '1' %>><%= raw l(:general_text_Yes) %></option>
		</select>
	</p>
	<p>
		<label for="apijsShowFilename"><%= raw l(:apijs_config_show_filename) %></label>
		<select name="settings[show_filename]" id="apijsShowFilename">
			<option value="0" <%= raw 'selected="selected"' if settings['show_filename'] != '1' %>><%= raw l(:general_text_No) %></option>
			<option value="1" <%= raw 'selected="selected"' if settings['show_filename'] == '1' %>><%= raw l(:general_text_Yes) %></option>
		</select>
	</p>
	<p>
		<label for="apijsShowExifdate"><%= raw l(:apijs_config_show_exifdate) %></label>
		<select name="settings[show_exifdate]" id="apijsShowExifdate">
			<option value="0" <%= raw 'selected="selected"' if settings['show_exifdate'] != '1' %>><%= raw l(:general_text_No) %></option>
			<option value="1" <%= raw 'selected="selected"' if settings['show_exifdate'] == '1' %>><%= raw l(:general_text_Yes) %></option>
		</select>
	</p>
	<p>
		<label><%= raw l(:apijs_config_mimetypes) %></label>
		<span style="display:block; line-height:200%;">
			(libimage-exiftool-perl)
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_jpg]"  value="1" <%= raw check if settings['album_mimetype_jpg'] == '1' %>  /> jpg
			</label>
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_jpeg]" value="1" <%= raw check if settings['album_mimetype_jpeg'] == '1' %> /> jpeg
			</label>
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_png]"  value="1" <%= raw check if settings['album_mimetype_png'] == '1' %>  /> png
			</label>
		</span>
		<span style="display:block; line-height:200%;">
			(ffmpegthumbnailer)
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_ogv]"  value="1" <%= raw check if settings['album_mimetype_ogv'] == '1' %>  /> ogv
			</label>
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_webm]" value="1" <%= raw check if settings['album_mimetype_webm'] == '1' %> /> webm
			</label>
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_mp4]"  value="1" <%= raw check if settings['album_mimetype_mp4'] == '1' %>  /> mp4
			</label>
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_m4v]"  value="1" <%= raw check if settings['album_mimetype_m4v'] == '1' %>  /> m4v
			</label>
		</span>
		<span style="display:block; line-height:200%;">
			(gs/Ghostscript)
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_pdf]"  value="1" <%= raw check if settings['album_mimetype_pdf'] == '1' %>  /> pdf
			</label>
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_psd]"  value="1" <%= raw check if settings['album_mimetype_psd'] == '1' %>  /> psd
			</label>
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_eps]"  value="1" <%= raw check if settings['album_mimetype_eps'] == '1' %>  /> eps
			</label>
			<label class="bis">
				<input type="checkbox" name="settings[album_mimetype_tiff]" value="1" <%= raw check if settings['album_mimetype_tiff'] == '1' %> /> tif/tiff
			</label>
		</span>
	</p>
	<p>
		<label for="apijsAlbumExcludeName"><%= raw l(:apijs_config_album_exclude_name) %></label>
		<input type="text" name="settings[album_exclude_name]" value="<%= settings['album_exclude_name'] %>" size="40" id="apijsAlbumExcludeName" />
		<em class="info"><%= raw l(:text_comma_separated) %></em>
	</p>
	<p>
		<label for="apijsAlbumExcludeDesc"><%= raw l(:apijs_config_album_exclude_desc) %></label>
		<input type="text" name="settings[album_exclude_desc]" value="<%= settings['album_exclude_desc'] %>" size="40" id="apijsAlbumExcludeDesc" />
		<em class="info"><%= raw l(:text_comma_separated) %></em>
	</p>
	<p>
		<label for="apijsCreateAll"><%= raw l(:apijs_config_create_all) %></label>
		<select name="settings[create_all]" id="apijsCreateAll">
			<option value="0" <%= raw 'selected="selected"' if settings['create_all'] != '1' %>><%= raw l(:general_text_No) %></option>
			<option value="1" <%= raw 'selected="selected"' if settings['create_all'] == '1' %>><%= raw l(:general_text_Yes) %></option>
		</select>
		<em class="info"><%= raw l(:apijs_config_create_all_info) %></em>
	</p>
	<p>
		<label><%= raw l(:apijs_config_directories) %></label>
		<%= APIJS_ROOT %>/ <b><%= size_all %></b>
		<br /><%= APIJS_ROOT %>/thumb/ <b><%= size_thumb %></b>
		<br /><%= APIJS_ROOT %>/show/ <b><%= size_show %></b>
		<em class="info"><%= raw l(:apijs_config_directories_info) %></em>
	</p>
</fieldset>

<fieldset class="box apijs tabular settings">
	<legend><%= raw l(:apijs_config_programs) %></legend>
	<p>
		<label>python</label>
		<span class="cmd"><%= `python --version 2>&1`.gsub('Python ', '').strip! %></span>
		<em class="info">python .../redmine_apijs/tools/image.py .../xyz.jpg .../xyz.jpg 200 150 2&gt;&amp;1<br /></em>
	</p>
	<p>
		<label>libimage-exiftool-perl</label>
		<span class="cmd"><%= `exiftool -ver 2>&1`.strip! %></span>
		<em class="info">exiftool -FastScan -IgnoreMinorErrors -DateTimeOriginal -S3 .../xyz.webm 2&gt;&amp;1</em>
	</p>
	<p>
		<label>ffmpegthumbnailer</label>
		<span class="cmd"><%= `ffmpegthumbnailer -v 2>&1`.gsub('ffmpegthumbnailer version:', '').strip! %></span>
		<em class="info">ffmpegthumbnailer -i .../xyz.webm -o .../xyz.jpg -q 10 -s 200</em>
	</p>
	<p>
		<label>gs (Ghostscript)</label>
		<span class="cmd"><%= `gs --version 2>&1`.strip! %></span>
		<em class="info">gs ... 2&gt;&amp;1</em>
	</p>
	<p>
		<label>file</label>
		<span class="cmd"><%= `file --version 2>&1`.gsub('file-', '').strip! %></span>
		<em class="info">file --brief --mime-type .../xyz.webm 2&gt;&amp;1</em>
	</p>
</fieldset>